@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
    width: 100px;
    height: 55px;
    background-color: #e6bd09;
    position: relative;
    margin: 27.5px 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    &:before {
        bottom: 100%;
        border-bottom: 27.5px solid #e6bd09;
    }

    &:after {
        top: 100%;
        border-top: 27.5px solid #e6bd09;
    }
}

.hexagon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: bold;
}